version: '3'
services:
  app:
    build: .
    command:
      - sh
      - -c
      - |
        python manage.py migrate
        python manage.py runserver 0:8000
    ports:
      - 127.0.0.1:8000:8000
    volumes:
      - db:/usr/src/app/db
      - .:/usr/src/app
volumes:
  db:
