{% extends "main/base.html" %}
{% block content %}
<div class="ui text container">
  <h1 class="ui header">About CHAMP</h1>
  <p>
    <strong>CHAMP v{{ APP_VERSION }}<br/></strong>
    &copy; 2021 Imperial College London
  </p>
  <p>
    CHAMP is a web browser-based tool for simplifying the submission of
    computational tasks to High Performance Computing (HPC) infrastructure.
  </p>
  <p>
    Avoid the need to learn about using the command line, connecting to remote
    system using tools like SSH or writing job submission scripts. Get the
    benefits of HPC processing power directly through your browser!
  </p>

  <h3 class="ui header">Citing CHAMP</h3>
  <p>
    If you make use of CHAMP to support your research work, please cite the
    following publication:
  </p>
  <p>
    C. Cave-Ayland, M. Bearpark, C. Romain, H. Rzepa. CHAMP is a HPC Access and
    Metadata Portal.<br/><em>Journal of Open Source Software</em>
    <strong>2022</strong>, 7 (70), 3824.
    <a href="https://doi.org/10.21105/joss.03824" target="_blank"
       rel="noopener noreferrer">
       https://doi.org/10.21105/joss.03824
    </a>
  </p>

  <h4 class="ui header">Related publications</h4>
  <p>
    M. J. Harvey, N. J. Mason and H. S. Rzepa. Digital data repositories in
    chemistry and their integration with journals and electronic
    laboratory notebooks, <em>J. Chem. Inf. Model.</em>,
    <strong>2014</strong>, 54, 2627–2635.<br/> DOI:
    <a href="https://doi.org/10.1021/ci500302p" target="_blank"
       rel="noopener noreferrer">10.1021/ci500302p</a>
  </p> 
</div>
{% endblock content %}
