{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'main/favicon-32x32.png' %}">
    <link rel="stylesheet" href="{% static 'main/css/semantic.min.css' %}">
</head>

<body>
    <div class="ui main text container">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/semantic.min.js' %}"></script>
</body>

</html>
