{% extends "main/base.html" %}
{% block content %}
{% if not content %}
<div class="ui text container">
  <p><a href="{{ software_help_url }}">Detailed information for preparing inputs</a></p>
  <form class="ui form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="field">
      <label>{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <input class="ui button" type="submit" value="Submit">
  </form>
</div>
{% endif %}
{% endblock %}
