{% extends "main/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% if not content %}

<div class="ui text container">
  <h2 class="ui header">Files for job {{ job.job_number }}</h2>
  <p>Job description:</p>
  <p>{% if job.description %}{{ job.description }}{% else %}-{% endif %}</p>
  <p><a href="{% url 'main:list_jobs' %}">Back to job list</a></p>
  <p><a href="{{ directory_url }}">View directory in Open OnDemand</a></p>
  {% render_table table %}
</div>

{% endif %}
{% endblock %}
