{% extends "main/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% if not content %}

<div class="ui text container">
  <a href="{% url 'main:list_jobs' %}">Back to job list</a>
  <h2 class="ui header">Edit Job Information</h2>
  <form class="ui form" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="field">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endfor %}
    <input class="ui button" type="submit" value="Update">
  </form>
  <h2 class="ui header">Publication Records</h2>
  {% render_table table %}
</div>

{% endif %}
{% endblock %}
