{% extends "main/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% if not content %}

{% if message %}
<div class="row">
  <div class="ui text container">
    <div class = "ui positive message">
      {{ message }}
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="ui text container">
    <h2 class="ui header">Job List</h2>
    <form class="ui form" method="get">
      <div class="field">
	{{ filter.form.description.label_tag }}
	{{ filter.form.description }}
      </div>
      <div class="field">
	<label>{{ filter.form.not_description.label }}</label>
	{{ filter.form.not_description }}
      </div>
      <div class="fields">
	<div class="field">
	  <label>{{ filter.form.project.label }}</label>
	  {{ filter.form.project }}
	</div>
	<div class="field">
	  <label>{{ filter.form.status.label }}</label>
	  {{ filter.form.status }}
	</div>
	<div class="field">
	  <label>{{ filter.form.resources.label }}</label>
	  {{ filter.form.resources }}
	</div>
	<div class="field">
	  <label>{{ filter.form.software.label }}</label>
	  {{ filter.form.software }}
	</div>
      </div>
      <div class="fields">
	<div class="field">
	  <label>Results per page</label>
	  <select name="per_page" id="id_per_page" onchange="this.form.submit()">
	    {% for value in options %}
	    <option value={{value}}{% if value == table.paginator.per_page %} selected{% endif %}>{{ value }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>

      <input value="Filter" class="ui button" type="submit">
      <a class="ui button" href="{% url 'main:list_jobs' %}">Reset Filter</a>

    </form>
  </div>
</div>
<div class="row">
  {% render_table table %}
</div>
{% endif %}
{% endblock %}
