{% extends "main/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% if not content %}
<div class="row">
  <div class="ui text container">
    <h2 class="ui header">Profile</h2>
    <form class="ui form" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="field">
	<label>{{ field.label }}</label>
	{{ field }}
	{{ field.errors }}
      </div>
      {% endfor %}
      <input class="ui button" type="submit" value="Update"><a href="{% url 'main:delete_profile' %}"><div class="ui button">Delete all info</div></a>
    </form>
    <h3 class="ui header">Custom Job Script Configurations</h3>
  </div>
</div>
  {% if table.rows|length != 0 %}
<div class="row">
  <div class="ui text container">
    {% render_table table %}
  </div>
</div>
  {% endif %}
<div class="row">
  <div class="ui text container">
    <a class="ui button" href="{% url 'main:custom_config' %}">Create a new custom configuration</a>
  </div>
</div>
{% endif %}
{% endblock %}
